.graph-style {
    max-height: 400px;
    max-width: 400px;
}

.graph-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    margin: 15px;
}

.header-style {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0;
}

.back-button {
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.cards-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}