.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}
  
th {
  text-align: left;
  border-bottom: 1px solid black;
  background-color: darkgray;
}
  
td {
  text-align: left;
  border-bottom: 1px solid forestgreen;
  border-left: 1px solid forestgreen;
  border-right: 1px solid forestgreen;
}